body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.App {
  background-color: #fff;
  padding: 20px;
  height: 90vh;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Limit maximum width for larger screens */
  width: 90%; /* Responsive width */
  margin: 0 auto !important;
}

.question-container {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* width: 90%; */
  flex-wrap: wrap;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.start-button {
  background-color: #ff4f63;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center !important;
  margin: 0 auto !important;
  width: 100%;
}

.start-button:hover {
  background-color: #fa7887;
}

.result-container {
  text-align: center;
  margin-top: 20px;
}

.result-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.result-container p {
  font-size: 18px;
  margin-bottom: 15px;
}

.result-container img {
  width: 300px; /* Adjust the width as needed */
  border-radius: 50%; /* Makes the image round */
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .result-container h2 {
    font-size: 20px;
  }

  .result-container p {
    font-size: 16px;
  }

  .result-container img {
    width: 250px; /* Adjust the width as needed */
  }
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  .App {
    padding: 10px;
    
  }
  
  button {
    padding: 8px 16px;
  }
}


@media screen and (max-width: 576px) {
  .result-container h2 {
    font-size: 18px;
  }

  .result-container p {
    font-size: 14px;
  }

  .result-container img {
    width: 200px; /* Adjust the width as needed */
  }
}